body{
	background-color:#FFFFFF;
	color:#333;
	font-family:Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
	font-size:100%;
	line-height:1.23em;		
}

h3{
	font-size:1.3125em;
	letter-spacing:-0.03em;
	line-height:1.27em;
	margin-bottom:0.6em;
}

legend{
	color:#60BB22;
	font-size:1.3125em;
	font-weight:600;
}

label{
	font-size:90%;
	display:block;
	font-weight:600;
	line-height:1.625em;
}

fieldset{
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border:1px solid #DDD;
	margin:1em 0 1em 0;
	padding:0 1em 0.5em;
}

#wrapper {
	margin:0 auto;
	text-align:left;
	width:720px;
}

#wrapper_home{
	margin-top:50px;
	text-align:left;
	width:720px;	
}

.registrationDetail, .loginDetail, .fileCheck{
	margin:1em 0;
}

#id_email, #id_username, #id_password1, #id_password2, #id_file{
	width:40%;
	background:#F5FFFA;
	padding-left:8px;
	padding-top:5px;
	padding-bottom:5px;
	color:#666;
	font-weight:14px;
}

form input, form textarea {
	-moz-border-radius:2px 2px 2px 2px;
	-webkit-border-radius: 2px;
	border:1px solid #BBBBBB;
}

input.button, input[type="submit"] {
	-moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius: 5px;
	border:1px solid #C5C5C5;
	color:#222222;
	font-weight:600;
	padding:5px 20px;
	background:#A3DA53;
}

input.button:hover, input[type="submit"]:hover{
	background:#B3E861;
}

#header h3{
	-moz-border-radius:8px;
	-webkit-border-radius: 8px;
	background-color:#A3DA53;
	border:1px solid #FFFFFF;
	clear:both;
	color:#FFFFFF;
	font-size:1em;
	font-weight:600;
	padding:8px 20px;
	margin-top:2em;
}

#footer{
	border-top:1px solid #CCC;
	clear:both;
	color:#A0A083;
	margin-top: 7em;
	padding:5px;
}
#userpanel h5 {
	position:relative;
	color:#519BB7;
	font-family:helvetica,arial,Verdana,sans-serif;
	font-weight:600;
	padding-right:0.5em;
	text-align:right;	
}

#userpanel table{
	margin-left:530px;
}

.radio{
	color:#445533;
}

#middle_wrapper{
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;	
	background-color: #F5F6EB;
	font-color:#A0A083;
	padding:15px;
	border:1px solid #E8E8E8;
}

#file_content{
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;	
	background-color: #F5F6EB;
	color:#808073;
	line-height:1.8em;		
	padding:15px;
	border:1px solid #E8E8E8;
}

#result_header{
	border-top:1px solid #A8A8A8;
	border-bottom:1px solid #A8A8A8;
}

#middle_alt{
	background-color: #ECF3FE;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;	
	border:1px solid #E8E8E8;
	padding:15px;
	color: #48A1D8;
}

#result_heading td{
	-moz-border-radius:5px 0px 5px 0px ;
	-webkit-border-radius: 5px 0px 5px 0px;
	border:1px solid #E8E8E8;
	color:#A0A089;
	font-weight:bold;
}

#recheck a{
	color:#A3DA53;
	font-weight:bold;
	text-decoration:none;
}

#wrapper #new{
	display:block;
	width:240px;
	background-color: #ECF3FE;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;	
	border:1px solid #E8E8E8;
	padding:15px;
	color: #48A1D8;
	margin-top:20px;
	float:left;
}
#new h2{
	padding:5px;
	margin-top:5px;
	font-size:20px;
	font-weight:bold;	
	border-bottom:1px solid #BBB;	
}

#sign_up{
	margin: 25px 45px;
}
#sign_up a{
	text-decoration:none;
	background-color: #48A1D8;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	padding:8px 45px;	
	border:1px solid #E8E8E8;	
	color:#FFF;
	text-align:center;
}
#sign_up a:hover{
	text-decoration:none;
	background-color: #68B1D8;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	padding:10px 45px;	
	border:1px solid #E8E8E8;	
	color:#FFF;
	text-align:center;
	text-shadow:#FFF;
}
#usual{
	display:block;
	height:400px;
	border-left:1px solid #E8E8E8;
	padding:15px 15px 15px 40px;
	color: #48A1D8;
	margin:20px 0px 0px 20px;
	float:left;
}
#usual h2{
	margin-top:25px;
	font-size:20px;
	padding:5px;
	font-weight:bold;
	border-bottom:1px solid #E8E8E8;	
}

#down{
	margin-top:80px;
	padding:5px;
	font-size:16px;	
	color:#A0A083;
}

#match{
	padding:10px;
	color:#5A5B12;
	font-style:italic;
	background:#FFF;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border:2px dashed #BBB;
}
#lside{
	float:left;
}
#rside{
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border:1px solid #DDD;
	float:left;
	padding:0px 15px;	
	margin-left:187px;
	background:#F2FCEE;
	color:#666666;
	width:270px;
}

#id_url, #id_no_of_pages{
	width:175%;
	background:none repeat scroll 0 0 #F5FFFA;
	color:#666666;
	padding-bottom:5px;
	padding-left:8px;
	padding-top:5px;
}

#site-list{
	margin-bottom:-12px;
	color: #348613;
	text-decoration:underline;
}
#msg{
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;	
	border:1px solid #E8E8E8;
	padding:15px;
	color: #505050;
	line-height:30px;
	background:#F2FCEE;
}
#update{
	background-color: #F5F6EB;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;	
	border:1px solid #CCC;
	padding:15px;
}
#crawl{
	background-color: #F5F6EB;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;	
	border:1px solid #E8E8E8;
	border-bottom:none;	
	padding:15px;
}

