{% extends "base.html" %}
{% block content %}
	<form id="login-form" action="" method="post">{% csrf_token %}
			<fieldset>
				<legend>Log in</legend><br/>
				{% if form.errors %}
					<div style="color:#F00;">Oops, invalid username or password</div>
				{% endif %}

				<div class="loginDetail">
					<label for="id_username">Username </label>
					{{ form.username }}
				</div>
				<div class="loginDetail">
					<label for="id_password1">Password </label>
					{{ form.password1 }}
				</div>
			</fieldset>
			<div>
				<input type="submit" value="login" />
			</div>
	</form>
    <p><a href="/accounts/register/">Register</a>&nbsp; &nbsp; &nbsp;<a href="/">Home</a></p>
{% endblock %}
