{% extends "base.html" %}
{% block content %}
	<div id="wrapper">
		<div id="userpanel">
			<table>
				<tr>
					<td><h5>Welcome [{{ username }}]</h5></td>
					<td><font color="#AAA">|</font></td> 
					<td><h5>&nbsp;<a href="/accounts/logout/">logout</a></h5></td>
				</tr>
			</table>	
		</div>
		<div id="recheck">
			<a href="/file_check/">Wanna Check Again?</a>
		</div><br/>
		<div id="middle_alt">
			Report for <i><b>{{ filename }}</b></i>
		</div><br/>
		<div id="file_content">
			{{ file_content|safe }}
		</div><br/>
		<div id="middle_alt" style="margin-top:10px;">
			ROCOP is FREE as in FREE Beer & Freedom. Enjoy! :)
		</div><br/>

	</div>
{% endblock %}
	

